#homeimg{
    width: 60px;
    height: 60px;
    position: absolute;
}
#hometip{
    height: 100px;
    width: 60px;
    margin: auto 16px;
    display: inline-block;
    position: relative;
}
#homedesc{
    height: 20px;
    width: 60px;
    position: absolute;
    margin-top: 23px;
    font-size: 14px;
    color: rgba(102, 102, 102, 0.844);
}